*{
    box-sizing: border-box;
    margin: 0;

}
.footer {

    background-color: #0a0908;
    width: 100% !important;
    padding: 10px;

}

.footer .col .card{
    background-color: #0a0908;
    color: white;
    text-align: center;  
    border: 0;
    
}
.flex{
    display: flex;
    justify-content: center !important;
}

.cright
{
    border: 2px solid white !important;
    border-radius: 10px;
}

