<nav class="navbar w-100 navbar-expand-lg bg-body-tertiary py-4 px-4 ">
    <div class="container-fluid d-flex px-4  justify-content-md-between ">
      <a class="navbar-brand text-light text-uppercase "  routerLink="home">Start Framework <i class="fa-brands fa-angular"></i></a>
      <button class="navbar-toggler bg-light py-1 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link py-2 " routerLink="about" routerLinkActive="bg-light text-dark rounded-pill ms-5   text-center"  aria-current="page">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 " routerLink="portofolio" routerLinkActive="bg-light text-dark rounded-pill ms-5   text-center"  >Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 " routerLink="contact" routerLinkActive="bg-light text-dark rounded-pill ms-5   text-center"  >Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>