

<div class="portofolio">
    <h2 class="card-text fs-2 text-uppercase text-center">portfolio component</h2>
<div class="card-text flex">
  <p class="line"> </p>
  <p class="mx-4"><i class="fa-solid fa-star"></i></p>
  <p class="line"></p>
</div>
<div class="container">
    <div class="row">
        <div class="lay col-md-6 col-lg-4 my-4">
            <img class="w-100" src="poert1.png " >
 
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="lay col-md-6 col-lg-4 my-4">
            <img class="w-100" src="port3.png " >

            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="lay col-md-6 col-lg-4 my-4">
            <img class="w-100" src="port2.png " >

            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="lay col-md-6 col-lg-4 my-4">
            <img class="w-100" src="port3.png " >

            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="lay col-md-6 col-lg-4 my-4">
            <img class="w-100" src="port2.png " >

            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="lay col-md-6 col-lg-4 my-4">
            
            <i class="fa-solid fa-plus"></i><img class="w-100" src="poert1.png " >
            
        </div>
    </div>
</div>
</div>



