
<div class="contact">
    <h2 class="card-text fs-2 text-uppercase text-center">conatct section</h2>
<div class="card-text flex">
  <p class="line"> </p>
  <p class="mx-4"><i class="fa-solid fa-star"></i></p>
  <p class="line"></p>
</div>

<div class="form d-flex flex-column text-center w-75 m-auto justify-content-center align-content-center">
    <input type="text"  placeholder="Your Name">
    <input type="email"  placeholder="Your Email">
    <input type="email"  placeholder="Your Age">
    <input type="email"  placeholder="Your Password">
    <button class="btn btn-primary m-auto w-25" >Send Messege</button>
</div>


</div>


